{extend name="template/base" /}

{block name="main"}
<div id='toolbar' style="padding: 5px;">
<!--    <div class="btnbar-tools">
        <a href="javascript:;" class="add" id="newData"><i class="fa fa-plus-square success"></i>添加</a>
        <a href="javascript:;" class="edit"><i class="fa fa-pencil-square info"></i>编辑</a>
        <a href="javascript:;" class="del"><i class="fa fa-times-rectangle danger"></i>删除</a>
        <a href="javascript:;" class="count"><i class="fa fa-pie-chart purple"></i>统计</a>

        <a href="javascript:;" class="export"><i class="fa fa-file-excel-o yellow"></i>导出Excel</a>

    </div>-->
<!--    <div class="tool-search" style="padding:5px 0 0 0;">
        <label for="search_keyword1" style="margin-left: 10px;">职位：</label>
        <input type="text" id="search_keyword1" class="easyui-textbox">
        <label for="search_startDate">时间区间：</label>
        <input type="text" id="search_startDate" class="easyui-datebox" data-options="editable:false">
        <label for="search_endDate">-</label>
        <input type="text" id="search_endDate" class="easyui-datebox" data-options="editable:false">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options='iconCls:"fa fa-search"' id="search">查询</a>
    </div>-->
</div>
<table id="dataGrid" data-options="border:false"></table>

<script type="text/javascript">
        var datagrid_url =  '{:url("/admin/group/data_grid")}',
            add_url =  '{:url("/admin/group/create")}',
            edit_url =  '{:url("/admin/group/edit")}',
            delete_url =  '{:url("/admin/group/delete")}',
            detail_url =  '{:url("/admin/group/detail")}',
            export_url = '{:url("/admin/group/export")}',
            staff_combogrid_url = '{:url("/admin/staff/combo_grid")}';
    var dataGrid;
    var dlg = '';

    $(function () {
        dataGrid = $('#dataGrid').datagrid({
            url: datagrid_url,
            toolbar: '#toolbar',
            //fitColumns: true,
            fit: true,
            //height:$(document).height()-85,
            //width:$(document).width(),
            sortName: 'id',
            sortOrder: 'desc',
            idField: 'id',
            pageSize: 30,
            pageList: [10, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            //singleSelect: true,//单选模式
            rownumbers: true, //行号
            columns: [[
                    {field : 'id',title : '编号',width : 100,checkbox : true},
                    {field : 'title',title : '职位',width : 100},
                    {field: 'status',title: '状态',width: 100,
                        formatter:function(value, row,index){
                            if(value === 1){
                                return '正常';
                            }else{
                                return '<span style="color:red">冻结</span>';
                            }
                        }
                    },
                    {field: 'create_time',title: '创建时间',sortable:true},
//                    {field: 'details',title: '详情',width: 40,fixed: true,
//                        formatter: function (value, row,index){
//                            //return "<a>详情</a>";
//                            return '<a href="javascript:void(0)" class="easyui-linkbutton" data-options="" style="height: 18px;margin-left: 2px;" onclick="details(' + row.id + ')">详情</a>';
//                        }
//                    }
                ]]
        });

        //刷新dataGrid
        $('#btnReload').click(function () {
            dataGrid.datagrid('reload');
        });

        $('#search').click(function () {
            var keyword1 = $('#search_keyword1').textbox('getValue');
            var startDate = $('#search_startDate').textbox('getValue');
            var endDate = $('#search_endDate').textbox('getValue');
            dataGrid.datagrid({
                queryParams: {
                    keyword1 : keyword1,
                    endDate: endDate,
                    startDate: startDate
                }
            });
        });
        
        //新增数据
        $('.add').on('click', function () {
            //$('#formAdd').form('clear');
            dlg = layer.open({
                title: '新增职位信息',
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                shadeClose: true,
                shade: 0.5,
                maxmin: true, //开启最大化最小化按钮
                area: ['480px', '240px'], //宽高
                content: [add_url,'yes'],
                zIndex: 1000
            });
            //layer.full(dlg);
        });
        
        //编辑
        $(".edit").click(function () {
            var row = dataGrid.datagrid('getSelected');
            if (row) {
                var id = row.id;
                dlg = layer.open({
                    title: '编辑职位信息',
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['480px', '240px'], //宽高
                    content: edit_url + "?id=" + id,
                    zIndex: 1000
                });
            } else {
                layer.msg('请先选择记录后再打开。');
            }
        });

        //删除
        $(".del").click(function () {
            var rows = dataGrid.datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('警告', '是否真的删除该记录？', function (r) {
                    if (r) {
                        var ids = [];
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(rows[i].id);
                        }
                        $.post(delete_url, {ids: ids.join(',')}, function (result) {
                            if (result.Success) {
                                dataGrid.datagrid('reload');
                            }
                            layer.msg(result.Message);
                        });
                    }
                });
            } else {
                layer.msg('请先选择记录后再进行删除。');
            }
            //dataGrid.datagrid('clearSelections');
        });



        //导出
        $(".export").click(function () {
            var rows = dataGrid.datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('警告', '是否真的导出记录？', function (r) {
                    if (r) {
                        var ids = [];
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(rows[i].id);
                            //alert(rows[i]);
                        }
                        window.location.href = '../record/export/ids/' + ids.join(',');
                    }
                });
            } else {
                layer.msg('请先选择记录后再打开。');
            }
        });


    });

    function details(id){
        dlg = layer.open({
                title: '员工信息',
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                shadeClose: true,
                shade: 0.5,
                maxmin: true, //开启最大化最小化按钮
                area: ['1000px', '560px'], //宽高
                content: [detail_url+'?id='+id,'yes'],
                zIndex: 1000
            });
    }




</script>

{/block}