{extend name="template/base" /}

{block name="main"}


    <div class="form1-column">
        <form id="formAdd" class="easyui-form" method="post" data-options="">
            <div class="form-column1">
                <div class="form-column-left">
                    <input name="accounts" class="easyui-textbox" data-options="label:'账号名称：',required:true,validType:['NotEmpty','minLength[2]']">
                </div>
            </div>
            <div class="form-column1">
                <div class="form-column-left">
                    <input name="staff_name" class="easyui-textbox" data-options="label:'姓名：',required:true,validType:['NotEmpty','minLength[2]']">
                </div>
            </div>
            <div class="form-column1">
                <div class="form-column-left">
                    <input id="group_id" name="group_id" class="easyui-textbox" data-options="label:'关联职位：',required:true">
                </div>
            </div>
            <div class="form-column1">
                <div class="form-column-left">
                    <input id="pwd" type="password" name="password" class="easyui-textbox" data-options="label:'密码：',required:true,validType:'minLength[6]'">
                </div>
            </div>
            <div class="form-column1">
                <div class="form-column-left">
                    <input name="repassword" type="password" class="easyui-textbox" data-options="label:'确认密码：',required:true,validType:'equals[\'#pwd\']'">
                </div>
            </div>
            <div class="form-column1">
                <div class="form-column-left">
                    <input id="state" name="state" class="easyui-textbox" data-options="label:'启用：',required:true">
                </div>
            </div>
            <div class="form-btnBar pl75">
                <a id='addFormSubmit' href="javascript:void(0)" class="easyui-linkbutton btnPrimary" style="width:80px">保存</a>
                <a id="addFormClear" href="javascript:void(0)" class="easyui-linkbutton btnDefault" style="width:80px">重置</a>
            </div>
        </form>
    </div>

<script>
    var group_combogrid_url = '{:url("/admin/group/combo_grid")}';
    var add_url =  '{:url("/admin/user/create")}';
    var group_combogrid = $('#group_id');
    var addForm = $('#formAdd');
    StateData = [
        { "value": "正常", "text": "正常" },
        { "value": "冻结", "text": "冻结" }
    ];
    $(function () {
        
       
        
        $('#state').combobox({
            data:StateData,
            valueField:'value',
            textField:'text',
            editable : false,
            //panelWidth:100,
            panelHeight:70
        });
       
        group_combogrid.combobox({
            width : 140,
            height : 32,
            url : group_combogrid_url,
//            queryParams : {
//                all : true
//            },
            required : true,
            editable : false,
            valueField : 'id',
            textField : 'title',
            panelHeight : 'auto',
            //multiple:true,
//            onSelect:function(record){
//                //var v = $('#groups').val();
//                //$('#groups').val(record.title);
//            }
        });


        $("#addFormClear").click(function () {
            $('#formAdd').form('clear');
        });

        /**
         * 提交表单
         * return
         */
        $('#addFormSubmit').click(function () {
            var isValid = $("#formAdd").form('validate');
            if (isValid) {
                $.messager.progress();
                $.ajax({
                    type: 'POST',
                    url: add_url,
                    data: $("#formAdd").serialize(),
                    success: function (result) {
                        $.messager.progress('close');
                        layer.msg(result.Message);
                        if (result.Success) {
                            parent.dataGrid.datagrid('reload');//刷新主表
                            //layer.close(parent.dlg);//关闭窗口
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭   
                        }
                    }
                });
            }
        });
    });
</script>

{/block}