{extend name="template/base" /}

{block name="main"}
<div id='toolbar' style="padding: 5px;">
    <div class="btnbar-tools">
        <a href="javascript:;" class="add" id="newData"><i class="fa fa-plus-square success"></i>添加</a>
        <a href="javascript:;" class="edit"><i class="fa fa-pencil-square info"></i>编辑</a>
        <a href="javascript:;" class="del"><i class="fa fa-times-rectangle danger"></i>删除</a>
<!--        <a href="javascript:;" class="count"><i class="fa fa-pie-chart purple"></i>统计</a>

                <a href="javascript:;" class="export"><i class="fa fa-file-excel-o yellow"></i>导出Excel</a>-->
        
    </div>
    <div class="tool-search" style="padding:5px 0 0 0;">
        <label for="order-search-keywords" style="margin-left: 10px;">用户名：</label>
        <input type="text" id="order-search-keywords" class="easyui-textbox">
        <label for="order-search-keywords">姓名：</label>
        <input type="text" id="order-search-date-type" class="easyui-textbox">
        <label for="order-search-keywords">时间区间：</label>
        <input type="text" id="order-search-date-from" class="easyui-datebox">
        <label for="order-search-date-to">-</label>
        <input type="text" id="order-search-date-to" class="easyui-datebox">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options='iconCls:"fa fa-search"' onclick="orderOpt.search()">查询</a>
    </div>
</div>
<table id="dataGrid" data-options="border:false"></table>


<script type="text/javascript">
    var datagrid_url =  '{:url("/admin/user/data_grid")}',
            add_url =  '{:url("/admin/user/create")}',
            edit_url =  '{:url("/admin/user/edit")}',
            delete_url =  '{:url("/admin/user/delete")}',
            detail_url =  '{:url("/admin/user/detail")}',
            export_url = '{:url("/admin/user/export")}';
    
    var dataGrid;
    var dlg = '';

    $(function () {
        dataGrid = $('#dataGrid').datagrid({
            url: datagrid_url,
            toolbar: '#toolbar',
            //fitColumns: true,
            fit: true,
            //height:$(document).height()-85,
            //width:$(document).width(),
            sortName: 'id',
            sortOrder: 'desc',
            idField: 'id',
            pageSize: 30,
            pageList: [10, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            //singleSelect: true,//单选模式
            rownumbers: true,//行号
            columns: [[
			{ field: 'id', title: '编号', checkbox:true },
			{ field: 'accounts', title: '登录名称', width: 120 },
                        { field: 'staffname', title: '真实姓名', width: 120,
                            formatter: function(value,row,index){
                                if(row.staff){
                                    return row.staff.name;
                                }
                            }  
                        },
			{ field: 'last_login_ip', title: '登录IP', width: 150 },
			{ field: 'last_login_time', title: '登录时间', width: 100 },
			{ field: 'login_count', title: '登录次数', width: 100 },
			{ field: 'state', title: '状态', width: 100,
                            formatter: function(value,row,index){
                                if(value === '正常'){
                                    return value + '<i class="fa fa-check-circle"></i>';
                                }else{
                                    return '<span style="color: red;">' + value + '</span>' + '<i class="fa fa-lock"></i>';
                                }
                            } 
                        },
            ]]
        });

        //刷新dataGrid
        $('#btnReload').click(function () {
            dataGrid.datagrid('reload');
        });

        $('#search').click(function () {
            var recordid = $('#order-search-keywords').textbox('getValue');
            var deadline = $('#search_deadline').textbox('getValue');
            var startDate = $('#search_startDate').textbox('getValue');
            var endDate = $('#search_endDate').textbox('getValue');
            dataGrid.datagrid({
                queryParams: {
                    recordid: recordid,
                    deadline: deadline,
                    endDate: endDate,
                    startDate: startDate
                }
            });
        });
        
        //新增数据
        $('.add').on('click', function () {
            $('#formAdd').form('clear');
            dlg = layer.open({
                title: '新增',
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                //closeBtn: 0,
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['600px', '400px'], //宽高
                content: add_url,
                zIndex: 1000
            });
        });    
        
        
        //编辑
        $(".edit").click(function () {
            var row = dataGrid.datagrid('getSelected');
            if (row) {
                var id = row.id;
                
                dlg = layer.open({
                    title: '编辑',
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['600px', '400px'], //宽高
                    content: edit_url + "?id=" + id,
                    zIndex: 1000
                });
            } else {
                layer.msg('请先选择记录后再打开。');
            }
        });

        //删除
        $(".del").click(function () {
            var rows = dataGrid.datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('警告', '是否真的删除该记录？', function (r) {
                    if (r) {
                        var ids = [];
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(rows[i].id);
                        }
                        $.post(delete_url, {ids: ids.join(',')}, function (result) {
                            if (result.Success) {
                                dataGrid.datagrid('clearSelections');
                                dataGrid.datagrid('reload');
                            }
                            layer.msg(result.Message);
                        });
                    }
                });
            } else {
                layer.msg('请先选择记录后再进行删除。');
            }
            //dataGrid.datagrid('clearSelections');
        });



        //导出
        $(".export").click(function () {
            var rows = dataGrid.datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('警告', '是否真的导出记录？', function (r) {
                    if (r) {
                        var ids = [];
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(rows[i].id);
                            //alert(rows[i]);
                        }
                        window.location.href = export_url + '/ids/' + ids.join(',');
                    }
                });
            } else {
                layer.msg('请先选择记录后再打开。');
            }
        });


    });

    



    
</script>

{/block}