<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>管理系统 - 登录</title>
        <link rel="shortcut icon" href="favicon.ico"> 
        <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
        <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
        <link href="__CSS__/animate.min.css" rel="stylesheet">
        <link href="__CSS__/style.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <meta http-equiv="refresh" content="0;ie.html" />
        <![endif]-->
        <script>if (window.top !== window.self) {
                window.top.location = window.location;
            }</script>
    </head>

    <body class="gray-bg">

        <div class="middle-box text-center loginscreen  animated fadeInDown">
            <div>
                <div class="m-b-md">
                    <img src="__IMG__/head.png" class='img-circle circle-border' alt="">
                </div>

                <form id="loginForm" class="m-t layui-form" method="post" action="{:url('admin/login/index')}">
                    <div class="form-group">
                        <input type="text" name="username" id="username"  value="" class="form-control uname layui-input" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="pwd" value="" class="form-control layui-input" placeholder="密码">
                    </div>
                    <button id='btnSubmit' class="btn btn-primary block full-width layui-btn">登 录</button>
                </form>
            </div>
        </div>
        <div class="middle-box text-center loginscreen  animated fadeInDown">
            <div class="signup-footer">
                <div>蒙德里安 版权所有</div>
            </div>
        </div>

        <script src="__EASYUI__/jquery.min.js"></script>
        <script src="__JS__/bootstrap.min.js"></script>
        <script src="__JS__/layer/layer.js"></script>

        <script type="text/javascript">
            $(function(){
                $('#btnSubmit').click(function() {
                    //先获取数据
                    var username = document.getElementById("username").value;
                    var password = document.getElementById("pwd").value;
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        url: "{:url('login/index')}",
                        data: {
                            username:username,
                            password:password
                        },
                        success: function (obj) {
                            if (obj.Success) {
                                layer.alert(obj.msg);
                                window.location.href = obj.url;
                            } else {
                                layer.alert(obj.msg);
                            }
                        },
                        error: function (data) {
                            layer.alert('登录失败');
                        }
                    });
                    return false;
                })
            });
        </script>
    </body>

</html>
